.wrapper {
  padding-top: 0px;
  background: lightblue;
  background-image: url("ambientBackGround.jpg");
  /* background-image: url("https://newevolutiondesigns.com/images/freebies/abstract-background-13.jpg"); */
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
C:\Users\btomm\Desktop\ReactHomework\React-Memory-Game\src\components\Wrapper\paper.gif